![]('img.jpg')

## Importing the important libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer

## Data preprocessing

In [2]:
data = pd.read_csv('heart.csv')

In [3]:
data = data.sample(frac = 1)
data = data.reset_index(drop=True)

In [4]:
data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
1,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
2,60,1,2,140,185,0,0,155,0,3.0,1,0,2,0
3,58,1,1,120,284,0,0,160,0,1.8,1,0,2,0
4,67,1,0,100,299,0,0,125,1,0.9,1,2,2,0
5,67,1,0,120,237,0,1,71,0,1.0,1,0,2,0
6,64,0,0,180,325,0,1,154,1,0.0,2,0,2,1
7,45,1,0,115,260,0,0,185,0,0.0,2,0,2,1
8,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0
9,58,0,2,120,340,0,1,172,0,0.0,2,0,2,1

In [5]:
data.shape

(303, 14)

In [6]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### Check the missing values

In [8]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
cols = data.shape[1]
x = data.iloc[:,0:cols-1]
y = data.iloc[:,cols-1:cols]

## Split the Data into test Data and train Data

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.25, random_state=1)

## Build the Model

In [11]:
model = LogisticRegression()

In [12]:
model.fit(x_train,y_train)

/home/lilou/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/home/lilou/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [13]:
predicted_values = model.predict(x_test)

In [14]:
score = accuracy_score(predicted_values,y_test)

In [15]:
score = score * 100
print("%.2f" % score, '%')

84.21 %

## Build a predictive system

In [16]:
input_data = data.sample()
input_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
106,67,0,0,106,223,0,1,142,0,0.3,2,2,2,1

In [17]:
def predictive_system(input_data):
    cols = input_data.shape[1]
    x = input_data.iloc[:,0:cols-1]
    result = model.predict(x)
    if (result == 1):
        return 'Positive'
    else:
        return 'Negative'

In [18]:
print(predictive_system(input_data))

Positive